[run]
parallel = True

concurrency = multiprocessing

source =
    libreco/
    libserving/serialization/
    libserving/sanic_serving/

[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    raise OSError.*
    raise ValueError
    raise SanicException.*
    except .*redis.*
    except ValidationError.
    def check_model_exists
    if not path:
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod

precision = 2

show_missing = True

skip_empty = True

[html]
directory = html-coverage-report

title = LibRecommender Coverage Report

[xml]
output = coverage.xml
