[run]
parallel = False

source = libreco

[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod
    raise OSError.*

precision = 2

show_missing = True

[html]
directory = html-coverage-report

title = LibRecommender Coverage Report

[xml]
output = coverage.xml
