-r requirements.txt

flake8
ruff >= 0.3.0 ; python_version > "3.6"
pytest
coverage
cython >= 0.29.0,<3
smart_open < 7.0.0 ; python_version == "3.6"
pyyaml ; python_version >= "3.8"
pydantic ; python_version >= "3.8"
